dockerfiles/is/prometheus
dockerfiles/is/wso2is/repository/conf
dockerfiles/is/wso2is/repository/components/dropins
dockerfiles/is/wso2is/repository/components/lib
dockerfiles/is/wso2is/repository/components/plugins
dockerfiles/is/wso2is/repository/deployment/server/webapps/scim2
dockerfiles/is/wso2is/repository/deployment/server/webapps/accountrecoveryendpoint
dockerfiles/is/wso2is/repository/deployment/server/webapps/authenticationendpoint
dockerfiles/is/wso2is-6.1.0.zip

conf/is/repository/deployment/server/userstores/*.xml
conf/is/repository/deployment/server/webapps/

conf.is/repository/components/plugins/
conf/is/repository/components/dropins/org.wso2.carbon.identity*.jar
conf/is/repository/components/dropins/pl.*.jar
conf/is/repository/components/lib
